<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/my.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ngStorage.js"></script>
	<script type="text/javascript" src="js/angstart.js"></script>
</head>
<body>

<div class="container" ng-controller="AppController">

<div class="row">
	<div class="form-group col-lg-2 col-md-2 col-xs-5">
		<a ng-repeat="(id,section) in sections" href="#{{ id }}" class="btn btn-info btn-block" role="button" ng-click="selectSection(id)">{{ section }}</a>
	</div>
	<div class="form-group col-lg-10 col-md-10 col-xs-7">
		<div class="row">
			<div class="form-group col-lg-8 col-md-8 col-xs-8">
				{{ section }}
			</div>
			<div class="form-group col-lg-4 col-md-4 col-xs-4">
				<input type="text" class="form-control" placeholder="Поиск..." ng-model="search.id">
			</div>
		</div>
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<th scope="col" class="col-auto">Имя2</th>
					<th scope="col" class="col-md-auto">Ссылка</th>
					<th scope="col" class="col-md-auto">Превью</th>
					<th scope="col" class="col-md-auto">Действия</th>
				</thead>
				<tbody id="tablebody">
					<tr ng-repeat="emoji in localEmojis | filter:search">
						<td>{{ emoji.id }}</td>
						<td>{{ emoji.url }}</td>
						<td><img class="preview" src="{{ emoji.url }}"></td>
						<td>actions</td>
					</tr>
				</tbody>
			
			</table>
		</div>
		
		
	</div>
</div>
	

</div>

</body>
</html>